.bggreen
    bg lightseagreen
.bltgreen
    bg rgba(lightseagreen, 0.3)
.bgblue
    bg url('../img/texture.jpg') repeat 0 0
.bg1
    bg url('../img/take-picture.jpg') no-repeat 0 52px / 100% 100%
.bgcoral 
    bg url('../img/fabric-coral.png') repeat 0 0
