@font-face {
  font-family: 'yellow';
  font-path: '../fonts/yellow_peas_demo-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'seedo';
	src:url('../fonts/seedo.eot?8ixj03');
	src:url('../fonts/seedo.eot?#iefix8ixj03') format('embedded-opentype'),
		url('../fonts/seedo.woff?8ixj03') format('woff'),
		url('../fonts/seedo.ttf?8ixj03') format('truetype'),
		url('../fonts/seedo.svg?8ixj03#seedo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'seedo', Helvetica Neue, Helvetica, Lato;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-dropdown:before {
	content: "\e609";
}
.icon-calendar:before {
	content: "\e600";
}
.icon-click:before {
	content: "\e601";
}
.icon-edit:before {
	content: "\e602";
}
.icon-loc:before {
	content: "\e603";
}
.icon-mic:before {
	content: "\e604";
}
.icon-repeat:before {
	content: "\e605";
}
.icon-sound:before {
	content: "\e606";
}
.icon-stack:before {
	content: "\e607";
}
.icon-cam:before {
	content: "\e608";
}