.form
    input, textarea
        width 100%
        padding 0 4%
        font-size responsive $font-size-big $font-size-xxxbig
        color $gray-med
        border-radius 4px
        border 1px solid alpha(lightseagreen, 0.4)
        resize none
        &::placeholder
            color $gray-light
        &:focus, &:active
            border-color alpha(lightseagreen, 0.7)
    input
        height 8vh
    textarea
        padding 2% 4%
        box-sizing  border-box
        
        
        