h2
    margin 0
    text-align center
    font-size responsive $font-size-xxbig $font-size-huge
    font-weight $font-light
    &.big 
        text-align center
        padding 4rem 0 2rem
        font-size responsive $font-size-xbig $font-size-xxxbig
        +below(1300px)
            padding 0
        
h4
    margin 0 auto
    text-align center
    color $color-green